name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker login -u "industryapps" -p "Xtqv4zRM/UGNOzVVbkTfd7Cj6ppuQTyZ" industryapps.azurecr.io && docker build . --file Dockerfile --tag industryapps.azurecr.io/cicd-test001 && docker push industryapps.azurecr.io/cicd-test001

